/* Footer */
footer {
    background-color: #3f3f3f;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer .social-media {
    margin-top: 20px;
}

footer .social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}

/* Ensure the footer is at the bottom */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
